.c-images {
    display: none;
}

.c-pacoman {
    text-align: center;
    margin-right: 30%;
    margin-left: 10%;
    background-color: black;
}

.c-game {
    border: solid;
    padding-bottom: 20px;
    display: grid;
    height: 600px;
    grid-gap: 10px;
    grid-template-columns:  400px auto ;
    grid-template-rows: 100px auto auto auto auto;
}
.c-intro {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(235, 232, 107);
}

.c-board {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: aqua;
  }
.c-start {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: aqua;
}

.c-button {
    font-size: 24px;
    padding: 32px 16px;
    border-radius: 12px;
    background-color: rgb(61, 150, 49);
    transition-duration: 0.4s;
}

.c-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.c-time {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(255, 196, 0);
    text-align: left;
    /*justify-self: start;*/
}

.c-points {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(200, 151, 228);
    justify-self: start;
}

.c-level {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: aqua;
    justify-self: start;
}

.c-accel {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(200, 151, 228);
    text-align: left;
}

